body{
    background-color: white;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

img {
    height: 8em;
    width: 8em;
    margin-top: 1rem;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container .container-2 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

button {
    width: 8rem;
    height: 30px;
    border-radius: 3rem;
    border-color: black;
    background-color: whitesmoke;
    border: none;
    margin-top: 2em;
    margin-left: 1rem;
}

button:hover {
    background-color: grey;
}